.root{
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  background-color: #2A2C2F;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 28px 0 24px;
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
  
@media (max-width: 1024px) {
  .root {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .root {
    max-width: 768px;
  }
}

@media (max-width: 425px) {
  .root {
    padding: 16px 0 24px;
  }
}