.cover__title {
  margin: 0 auto 32px auto;
  padding: 0;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  z-index: 1;
  max-width: 560px;
}

@media (max-width: 660px) {
  .cover__title {
    font-size: 52px;
    max-width: 400px;
    line-height: 60px;
  }
}

@media (max-width: 540px) {
  .cover__title {
    font-size: 38px;
    margin: 0 auto 16px auto;
    line-height: 35px;
    max-width: 268px;
  }
}

@media (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    max-width: 250px;
  }
}